<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBTimeLine.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBTimeLine.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DBTimeLine.My.MySettings>
            <setting name="OmegaLocalConnectionString" serializeAs="String">
                <value>Data Source=localhost;Initial Catalog=Test5;Integrated Security=True</value>
            </setting>
        </DBTimeLine.My.MySettings>
    </userSettings>
    <applicationSettings>
        <DBTimeLine.My.MySettings>
            <setting name="ConnectionStringTest" serializeAs="String">
                <value>Data Source=HOME7\SQLEXPRESS2014;Initial Catalog=Test5;Integrated Security=True</value>
            </setting>
            <setting name="DefaultProvider" serializeAs="String">
                <value>ProviderSqlServer</value>
            </setting>
            <setting name="ProviderSqlServer" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
            <setting name="DefaultConnectionString" serializeAs="String">
                <value>OmegaLocalConnectionString</value>
            </setting>
        </DBTimeLine.My.MySettings>
    </applicationSettings>
</configuration>